@mixin respond($media) {
  @if $media == default {
    @media (min-width: 1024px) { @content; }
  }

  @if $media == tablet {
    @media (max-width: 991px) and (orientation : landscape) { @content; }
  }

  @else if $media == mobile {
    @media (max-width: 780px) { @content; }
  }
  // Example @include respond('normal'){}
}
// COLORS //
$gray: #131417;
$white: #fff;
$blue: #0071EB;
// SIZES //
//$small: #gg;
/// GENERAL /// 
* {
	margin:0;
	padding:0;
	border:0;
}
::-webkit-scrollbar { 
display: none; 
}
.container {
	max-width: 1500px;
	margin: auto;
}
ul {
	padding-left: 30px;
}
/// SWUP ANIMATION ///
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/// PAGE SET-SET UP ///
main {
	font-family: 'Open Sans', sans-serif;
	a {
		color: $blue !important;
	}
}
.not-front {
	margin: 100px 0;
	@include respond('mobile'){margin:50px;}
	.contact {
		@include respond('mobile'){display:none;}
	}
	h1,
	h2{
		@include respond('mobile'){text-align:center;}
	}
	.col-6 {
		@include respond('mobile'){width:100%;max-width:100%;}
	}
}
#page {
	.row {
		padding-bottom: 50px;
		@include respond('mobile'){
			display:block;
			margin:0;
		}
	}
}
.card {
	background-color: gray;
	.screenshot {
		width: 333px;
    	height: 150px;
    	margin: auto;
	}
}
#logo {
	text-align: center;
    font-size: 35px;
    color: gainsboro;
    padding-top: 9%;
	@include respond('mobile'){padding-top: 50%;}
	h1 {
		font-size: 3em;
		@include respond('mobile'){font-size: 1em;}
	}
	span {
		@include respond('mobile'){font-size: .5em;}
	}
}
.wallpaper:after{
  content:'.';
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5); 
 
}
.wallpaper {
	position:absolute;
	background-image: url('../img/pexels-photo-300857.jpeg');
	background-size: cover;
	width: 100%;
    height: 93%;
    z-index: -2;
	@include respond('mobile'){background-position-x: 50%;}
}
 
/// HEADER ///
header {
	nav {
		justify-content: center !important;
		background-color: $gray;
		a {
			padding: 10px 40px;
			color: $white;
			//@include respond('mobile'){padding: 10px 30px;}
		}
		a:hover {
			color: $white;
			font-weight:bold;
			transition:1s;
		}
		ul {
			margin-bottom: 0;
			display: flex;
    		justify-content: center;
   	 		padding: 20px;
			list-style:none;
		}
	}
}
/// FOOTER ///
footer {
	display:flex !important;
	position:fixed;
	text-align:center;
	bottom: 0;
	height: 51px;
	width: 100%;
	background-color: $gray;
	color: white;
	.contact {
		position: absolute;
    	right: 0;
		@include respond('mobile'){display:none}
		
		.contact-icon {
			font-size: 2em;
    		padding-right: 50px;
		}
		a {
			color: $white;
		}
		i {
			cursor: pointer;
		}
		.email-slide {
			display: none;
			position: absolute;
    		bottom: 50px;
   	 		right: 64px;
		}
		
	}
#email-addy,
#email-addy2 {
			width: 191px;
    		padding: 5px;
			@include respond('mobile'){font-size: 15px !important;width: 182px !important;}
		}
@include respond('mobile'){
	.mobile-contact{
		display: flex !important;
    	margin: auto;
    	font-size: 30px;
		color: $white;
		a {
			color: $white;
		}
		.email-slide {
			display: none;
			position: absolute;
    		bottom: 50px;
   	 		right: 64px;
		}
	}
}
	.copyright {
		margin: auto !important;
		p {
			margin: auto;
		}
	}
}

/// ABOUT ///
.portrait {
	border-radius: 100%;
    width: 300px;
    height: 300px;
    background-size: 195px;
    background-image: url(../img/portrait.jpg);
    margin: auto;
    border: 5px solid;
    background-repeat: no-repeat;
    background-position-x: 50%;
	@include respond('mobile'){
		width: 250px;
    	height: 250px;
    	background-size: 156px;
		margin: 25% auto;
	}
}
.url {
	font-size: 25px;
    padding-bottom: 20px;
	@include respond('mobile'){text-align: center;padding-top: 20px;}
}
.disclaimer {
	margin: 6em;
	@include respond('mobile'){margin:0}
}
.screenshot {
	height: 265px;
	margin-top: 10px;
	@include respond('mobile'){
		max-width: 100% !important;
    	width: 100% !important;
		max-height: 158px;
    	flex: 0 0 100% !important;
		border: 1px solid gray;
		margin-top: 25%;
	}
}
.ea .screenshot {
	background-image: url('../img/ea.png');
	background-size: cover;
}
.dys .screenshot {
	background-image: url('../img/dysguides.png');
	background-size: cover;
}
.gmrsd .screenshot {
	background-image: url('../img/gmrsd.png');
	background-size: cover;
}
.bico .screenshot {
	background-image: url('../img/profilepic.png');
	background-size: cover;
}
.int .screenshot {
	background-image: url('../img/intranet.png');
	background-size: cover;
}
.ces .screenshot {
	background-image: url('../img/profilepic.png');
	background-size: cover;
}