* {
  margin: 0;
  padding: 0;
  border: 0; }

::-webkit-scrollbar {
  display: none; }

.container {
  max-width: 1500px;
  margin: auto; }

ul {
  padding-left: 30px; }

.transition-fade {
  transition: 0.4s;
  opacity: 1; }

html.is-animating .transition-fade {
  opacity: 0; }

main {
  font-family: 'Open Sans', sans-serif; }

.not-front {
  margin: 100px 0; }
  @media (max-width: 780px) {
    .not-front {
      margin: 50px; } }
  @media (max-width: 780px) {
    .not-front .contact {
      display: none; } }
  @media (max-width: 780px) {
    .not-front h1,
    .not-front h2 {
      text-align: center; } }
  @media (max-width: 780px) {
    .not-front .col-6 {
      width: 100%;
      max-width: 100%; } }

#page .row {
  padding-bottom: 50px; }
  @media (max-width: 780px) {
    #page .row {
      display: block;
      margin: 0; } }

.card {
  background-color: gray; }
  .card .screenshot {
    width: 333px;
    height: 150px;
    margin: auto; }

#logo {
  text-align: center;
  font-size: 35px;
  color: gainsboro;
  padding-top: 9%; }
  @media (max-width: 780px) {
    #logo {
      padding-top: 50%; } }
  #logo h1 {
    font-size: 3em; }
    @media (max-width: 780px) {
      #logo h1 {
        font-size: 1em; } }
  @media (max-width: 780px) {
    #logo span {
      font-size: .5em; } }

.wallpaper:after {
  content: '.';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.wallpaper {
  position: absolute;
  background-image: url("../img/pexels-pixabay-531880.jpg");
  background-size: cover;
  width: 100%;
  height: 93%;
  z-index: -2; }

header nav {
  justify-content: center !important;
  background-color: #131417; }
  header nav a {
    padding: 10px 40px;
    color: #fff; }
    @media (max-width: 780px) {
      header nav a {
        padding: 10px 30px; } }
  header nav ul {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    list-style: none; }

footer {
  display: flex !important;
  position: fixed;
  text-align: center;
  bottom: 0;
  height: 51px;
  width: 100%;
  background-color: #131417;
  color: white; }
  footer .contact {
    position: absolute;
    right: 0; }
    @media (max-width: 780px) {
      footer .contact {
        display: none; } }
    footer .contact .contact-icon {
      font-size: 2em;
      padding-right: 50px; }
    footer .contact a {
      color: #fff; }
    footer .contact i {
      cursor: pointer; }
    footer .contact .email-slide {
      display: none;
      position: absolute;
      bottom: 50px;
      right: 64px; }
  footer #email-addy {
    width: 191px;
    padding: 5px; }
    @media (max-width: 780px) {
      footer #email-addy {
        font-size: 15px !important;
        width: 182px !important; } }
  @media (max-width: 780px) {
    footer .mobile-contact {
      display: flex !important;
      margin: auto;
      font-size: 30px;
      color: #fff; }
      footer .mobile-contact a {
        color: #fff; }
      footer .mobile-contact .email-slide {
        display: none;
        position: absolute;
        bottom: 50px;
        right: 64px; } }
  footer .copyright {
    margin: auto !important; }
    footer .copyright p {
      margin: auto; }

.portrait {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background-size: 195px;
  background-image: url(../img/portrait.jpg);
  margin: auto;
  border: 5px solid;
  background-repeat: no-repeat;
  background-position-x: 50%; }
  @media (max-width: 780px) {
    .portrait {
      width: 250px;
      height: 250px;
      background-size: 156px;
      margin: 25% auto; } }

.url {
  font-size: 25px;
  padding-bottom: 20px; }
  @media (max-width: 780px) {
    .url {
      text-align: center;
      padding-top: 20px; } }

.disclaimer {
  margin: 6em; }
  @media (max-width: 780px) {
    .disclaimer {
      margin: 0; } }

.screenshot {
  height: 265px;
  margin-top: 10px; }
  @media (max-width: 780px) {
    .screenshot {
      max-width: 100% !important;
      width: 100% !important;
      flex: 0 0 100% !important;
      border: 1px solid gray;
      margin-top: 25%; } }

.ea .screenshot {
  background-image: url("../img/ea.png");
  background-size: cover; }

.dys .screenshot {
  background-image: url("../img/dysguides.png");
  background-size: cover; }

.gmrsd .screenshot {
  background-image: url("../img/gmrsd.png");
  background-size: cover; }

.bico .screenshot {
  background-image: url("../img/profilepic.png");
  background-size: cover; }

.int .screenshot {
  background-image: url("../img/intranet.png");
  background-size: cover; }

.ces .screenshot {
  background-image: url("../img/profilepic.png");
  background-size: cover; }
