$gray: #131417;
$white: #fff;
/// GENERAL ///
* {
	margin:0;
	padding:0;
	border:0;
}
.container {
	max-width: 1500px;
	margin: auto;
}

/// SWUP ANIMATION ///
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

/// PAGE SET-SET UP ///
main {
	font-family: 'Open Sans', sans-serif;
}
.not-front {
	margin: 100px 0;
}
#page {
	.row {
		padding-bottom: 50px;
	}
}
.about-page {
	.portrait {
		width: 50%;
    	height: 100%;
    	background-color: black;
    	margin: auto;
	}
}
.card {
	background-color: gray;
	.screenshot {
		width: 333px;
    	height: 150px;
    	margin: auto;
	}
}
#logo {
	text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 9%;
	h1 {
		font-size: 3em;
	}
}
.wallpaper:after{
  content:'.';
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5); 
 
}
.wallpaper {
	position:absolute;
	background-image: url('../img/pexels-eberhard-grossgasteiger-691668.jpg');
	width: 100%;
    height: 100%;
    z-index: -2;
}

/// HEADER ///
header {
	justify-content: center !important;
	background-color: $gray;
	.navbar-nav {
		a {
			padding: 10px 40px;
			color: $white;
		}
	}
}
/// FOOTER ///
footer {
	display:flex !important;
	position:fixed;
	text-align:center;
	bottom: 0;
	height: 51px;
	width: 100%;
	background-color: $gray;
	color: white;
	.contact {
		position: absolute;
    	right: 0;
		.contact-icon {
			font-size: 2em;
    		padding-right: 50px;
		}
		a {
			color: $white;
		}
		.email-slide {
			display: none;
			position: absolute;
    		bottom: 50px;
   	 		right: 64px;
		}
		#email-addy {
			width: 191px;
    		padding: 5px;
		}
	}
	.copyright {
		margin: auto !important;
		p {
			margin: auto;
		}
	}
}

/// ABOUT ///
.portrait {
	width: 50%;
    height: 100%;
    background-image: url('../img/profilepic.png');
}

.ea {
	background-image: url('../img/ea.png');
	background-size: cover;
}
.dys {
	background-image: url('../img/dysguides.png');
	background-size: cover;
}
.gmrsd {
	background-image: url('../img/gmrsd.png');
	background-size: cover;
}
.bitco {
	background-image: url('../img/profilepic.png');
	background-size: cover;
}
.int {
	background-image: url('../img/intranet.png');
	background-size: cover;
}
.ces {
	background-image: url('../img/profilepic.png');
	background-size: cover;
}